.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: rgba(128, 0, 128, 0.5);
  height: 100vh;
  color: white;

  .info {
    color: lightgreen;
  }

  .subtitle {
    font-size: 25px;
    color: orange;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 2px black;
    padding: 5px 10px;
  }

  .quiz-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
  }
}
