.content {
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 0, 128, 0.5);

  .settings {
    width: 45%;
    display: flex;
    margin: 20px;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 15px;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

    .settings-select {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 100%;
      flex: 0.8;
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .banner {
    width: 85%;
    padding: 20px 0 0 0;
  }

  .settings {
    width: 100%;
  }
}
