.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004aad;

  .title {
    text-transform: uppercase;
    color: #ff914d;
    cursor: pointer;

    .logo-pic {
      width: 100%;
      height: 100px;
      padding: 10px;
    }
  }

  /* .divider {
    margin: 10px;
    width: 100%;
    background-color: grey;
  } */
}
