.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-transform: uppercase;
    font-size: 5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }

  .divider {
    margin: 10px;
    width: 100%;
    background-color: grey;
  }
}
