.question-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;

  .single-question {
    width: 95%;
    min-height: 350px;
    color: lightblue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10px;

    .options {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      align-items: center;
      justify-content: space-around;
      margin: 10px;

      .single-option {
        width: 45%;
        height: 50px;
        padding: 15px 20px;
        margin: 10px;
        box-shadow: 0 0 2px black;
      }

      @media (max-width: 827px) {
        .single-answer {
          width: 100%;
        }
      }
    }

    .controls {
      display: flex;
      width: 50%;
      gap: 10px;
      justify-content: space-around;

      .quit-button {
        background-color: darkgray;
      }
    }

    @media (max-width: 827px) {
      .controls {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.select {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}
